.pokemon__card__detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 7.8rem 0 0 2.4rem;
  font-weight: var(--font-weight-semibold);
}


@media screen and (min-width: 768px) {
  .pokemon__card__detail {
    padding: 5.5em 0 0 2.4rem;
  }
}