.pokemon__card__openModal {
  outline: none;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  letter-spacing: 3px;
  cursor: pointer;
  background-color: var(--btn-bg);
  color: var(--light-text-color);
  text-shadow: 1px 1px 1px var(--dark-text-color);
  font-weight: var(--font-weight-semibold);
}

.pokemon__card__openModal:hover {
  transition: all ease-in-out 300ms;
  letter-spacing: 5px;
}