.pokemons__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem 0;
  background-color: var(--low-opacity-wt-bg);
  border-radius: 2rem 2rem 0 0;
}

@media screen and (min-width: 435px) {
  .pokemons__list {
    grid-template-columns: 49% 49%;
    margin: auto;
    width: 90%;
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .pokemons__list {
    width: 70%;
    padding: 4rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .pokemons__list {
    padding: 4rem 8rem;
    grid-template-columns: 32.35% 32.35% 32.35%;
  }
}

@media screen and (min-width: 1224px) {
  .pokemons__list {
    width: 940px;
  }
}