.modal__pokemon {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  color: var(--light-text-color);
  grid-column: 1/3;
  padding: 1rem 1.5em;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .modal__pokemon {
    font-size: 1.6rem;
    padding: 1rem 3em;
  }
}
