@import url(./pagination--btn.css);
@import url(./pagination--list.css);
@import url(./pagination--link.css);

.pagination {
  padding: 3rem 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
}

@media screen and (min-width:768px) {
  .pagination {
    gap: 2rem;
  }
}

@media screen and (min-width:1024px) {
  .pagination {
    align-items: center;
    font-size: 1.6rem;
  }
}
